<mat-card>
  <mat-card-content>
    <div fxLayout="row">
      <highcharts-chart fxFlex="50%"
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        style="width: 50%; height: 400px; display: block;">
      </highcharts-chart>

      <highcharts-chart fxFlex="50%"
        [Highcharts]="Highcharts"
        [options]="chartDateOptions"
        style="width: 50%; height: 400px; display: block;">
      </highcharts-chart>
    </div>
  </mat-card-content>

</mat-card>

<mat-card>
  <mat-card-content>
    <!--<iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1Ex0snjiMORjB276t27R5cuOzf_RDXT6DvbchTdNbqzA&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
    -->

    <div id='timeline-embed' style="width: 100%; height: 600px"></div>

  </mat-card-content>
</mat-card>
