<mat-card>
  <mat-card-content>
    <div fxLayout="row">
      <highcharts-chart fxFlex="50%"
        [Highcharts]="Highcharts"
        [options]="chartOptions"
        style="width: 50%; height: 400px; display: block;">
      </highcharts-chart>

      <highcharts-chart fxFlex="50%"
        [Highcharts]="Highcharts"
        [options]="chartDateOptions"
        style="width: 50%; height: 400px; display: block;">
      </highcharts-chart>
    </div>
  </mat-card-content>

</mat-card>


BURAK <br/>
<i class="wi wi-day-sunny"></i>
<i class="wi wi-day-sunny wi-flip-vertical"></i>
<i class="wi wi-wind towards-sse"></i>
<h1><i style="color: #924da3" class="wi wi-night-sleet"></i></h1>
BURAK <br/>

<mat-card>
  <mat-card-content>
    <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1Ex0snjiMORjB276t27R5cuOzf_RDXT6DvbchTdNbqzA&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>  </mat-card-content>
</mat-card>
